.navbar {
  background-color: rgba(51, 51, 51, 0.01);
  color: #1E3647;
  font-size: 20px;
  
}

.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 20px;
  justify-content: flex-end;
}

.nav-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  color: #1E3647
}

.nav-item:hover {
  background-color: #1E3647; /* Blue background color */
  color: white; /* White text color */
}


.active {
  background-color: #1E3647; 
  color: white; 
}

.settings-dropdown {
  position: relative;
}

.settings-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none; 
  padding: 0; 
  width: 180px; 
  left:-60px;
}

.settings-dropdown:hover .settings-dropdown-content {
  display: block;
}

.settings-dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: left;
  color: #000000; 
  font-size: 15px;
  
  
  
}

