.summary-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .sub-container {
    position: absolute;
    width: 30%;
    height: 30%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .center-top {
    top: 20%;
    left: 10%;
  }
  
  .center-bottom {
    bottom: 10%;
    left: 10%;
  }
  
  .center-left {
    top: 20%;
    right: 10%;
  }
  
  .center-right {
    bottom: 10%;
    right: 10%;
  }
  
  .sub-container img {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
    align-items: left;
  }
    .sub-container txt {
        
            
            font-size: 16px;
            color: #333;
            margin: 10px;
            align-items: right;
          }

          .data-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 50vh; 
            overflow-y: auto;
            width: 100%;
            background-color: blue;
        }
        
        .data-item {
            border: 1px solid #000;
            background-color: rgba(255, 255, 255, 0.3);
            width: 80%;
            padding: 10px;
            margin: 10px;
        }
  
        .details-link {
          color: blue;
          text-decoration: underline;
          cursor: pointer;
      }


      .heading {
        position: absolute;
        top: 150px; 
        left: 10px;
        margin: 0;
        padding: 10px;
        font-size: 2.0rem;
        color: #285A84;
    }
    
    @media screen and (max-width: 768px) {
      .heading {
          font-size: 1.2rem; 
      }
  }
 
    .heading2 {
      position: absolute;
      top: 80px; 
      left: 550px;
      margin: 0;
      padding: 10px;
      font-size: 2.0rem;
      color: #285A84;
  }
  
    
    
    
    